<section id="footer" class="footer">
    <div class="row">
        <div class="col-sm-3">
            <h5>Kontakta oss (SMS)</h5>
            <p>Tlfn: 070 606 73 58</p> 
        </div>
        <div class="col-sm-3">
            <h5>Adress</h5>
            <p>Fägerhult Rödbro 1</p>
            <p>576 93, RÖRVIK</p>
        </div>
        <div id="map" class="col-sm-6">
            <iframe 
                width="100%" 
                height="auto" 
                frameborder="0" 
                style="border:0"
                src="{{this.googleSrc}}" 
                allowfullscreen>
            </iframe>
        </div>
    </div> 
</section>