<section id="welcomeSection">
    <div class="row row-fix">
        <div class="col-sm-12">
            <h5>NUVARANDE KULLAR</h5> 
        </div> 
    </div>  
</section>

<section> 
    <div class="row row-fix">
        <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12">
            <p style="text-align:center;padding:30px;"><i>Här lägger vi upp våra kullar vi har i dagsläget. Alla kullar är chippade, vaccinerade och veterinärsbesiktigade vid leverans tillfället. SMSa gärna oss för information om att tinga en kattunge. Märk att det angivna leveransdatumet är preliminärt och kan ibland ändras.</i></p>
        </div>
    </div> 
</section>


<section> 
    <div class="loader" *ngIf="loading"></div>
    <div *ngIf="loading == false">
        <div *ngIf="litters.length > 0 && error == false" [ngClass]="(litters.length > 2)?'litter-grid-3-cols':(litters.length == 2) ? 'litter-grid-2-cols' : 'litter-grid-1-col'">
            <div *ngFor="let litter of litters">
                <div class="grid-img-box">
                    <img *ngIf="litter.images.length > 0" src="{{litter.images[0].value}}" class="boxImage" data-toggle="modal" attr.data-target="#modal_{{litter.id}}">
                </div> 
                <div class="grid-info-box">
                    <h3 style="text-align:center;">{{ litter.parents.length == 0 ? ''
                        : litter.parents.length == 1 && litter.parents.length > 0 ? 'Från ' + litter.parents[0].name
                        : 'Från ' + litter.parents[0].name + ' och ' + litter.parents[1].name }}
                    </h3> 
                    <p style="text-align:center">Leveransklara {{getDeliveryDate(litter.readyDate)}}</p>
                    <p style="text-align:center">{{litter.amountOfKids}} {{getKittensText(litter.amountOfKids)}}</p>
                    <div class="readmore"> 
                        <button class="btn readMoreBtn" [routerLink]="['/kull', litter.id]">Läs mer</button>
                    </div>
                </div> 
            </div> 
        </div>
        <div *ngIf="litters.length == 0 && error == false">
            <h1 style="text-align:center;">Tyvärr har vi inga kullar just nu..</h1>
            <p style="text-align:center;">SMSa gärna oss för information om kommande kullar.<br>Telefonnummer hittar du längst ner på sidan.</p>
        </div>
        <div *ngIf="error == true">
            <div> 
                <h1 style="text-align: center;">Något gick fel.</h1>
                <p style="text-align:center;">Nuvarande kullar kunde inte laddas.<br>SMSa gärna oss för information om kommande kullar. <br>Telefonnummer hittar du längst ner på sidan.</p>        
            </div>
        </div>
    </div>
</section>  



<div *ngFor="let litter of litters">
    <div class="modal fade" id="modal_{{litter.id}}" style="padding:0;" tabindex="-1" role="dialog" attr.aria-labelledby="modal_{{litter.id}}_label" aria-hidden="true">
        <div class="modal-dialog" style="max-width:65% !important; margin: 50px auto;" role="document">
            <div class="modal-content"> 
                <div class="modal-body background-black" style="padding:0;">
                        <div id="carousel_{{litter.id}}" class="carousel slide" data-ride="carousel">
                        <!-- <ol class="carousel-indicators">
                            <li ngFor="let image of litter.images; let j = index" attr.data-target="#carousel_{{litter.id}}" [attr.data-slide-to]="j" class="{{ (j == 0) ? 'active' : ''}}"></li> 
                        </ol> -->
                        <div class="carousel-inner background-black">
                            <div *ngFor="let image of litter.images; let i = index" class="carousel-item {{ (i == 0) ? 'active' : ''}}">
                                <img class="d-block img-fluid img-margin" src="{{image.value}}">
                            </div>  
                            <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <a class="carousel-control-prev" href="#carousel_{{litter.id}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Föregående</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel_{{litter.id}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Nästa</span>
                        </a>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>