a {
    font-size: 24px;
    text-align:center;
    color:white;
    font-family: 'Permanent Marker';
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

@media screen and (min-width: 992px) { 
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
  }

.custom-nav {
    background: #679289;
}
